/*div {
	width: 100%;
	height: 90%;
	background-color: blue;
}
*/
#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
 }


#chatInput {
	position: fixed;
}

#chatbut {
	position: inline;
}